*~
=*
,,*
*.a
*.bz2
*.fasl
*.gz
*.html
*.info
*.la
*.lo
*.o
*.out
*.so
*.so.*
*.tgz
*.tmp
.DS_Store
.arch
.dirstamp
.emacs.*
.gdb_history
.vimview
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te*
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
test-driver
autotools/
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
m4/
